@using Maxvoice.Models;
@{    ViewBag.Title = "Synchrolize from Enterprise Ac to DB Result";
      List<WeChatUserViewModel> users = ViewData["users"] as List<WeChatUserViewModel>;

}
<link rel="stylesheet" href="/css/maxvoice.css" />
<h3>@ViewBag.Title</h3>
@ViewData["ErrorMsg"]
<div style="max-height:460px;overflow-y:auto;">
    <table class="gridtable" style="width:98%">
        <tr>
            <th>Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>WeChatId</th>
            <th>Gender</th>
            <th>State</th>
            <th>Sync Result</th>
            <th>Error Message</th>
            @foreach (WeChatUserViewModel user in users)
            {
            <tr>
                <td>@user.Name</td>
                <td>@user.Mobile</td>
                <td>@user.Email</td>
                <td>@user.WeChatId</td>
                <td>@user.GenderText</td>
                <td>@user.StateText</td>
                <td>@user.ImportResult</td>
                <td>@user.ImportFailarReason</td>
            </tr>
            }
        </table>
    </div>